/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/dummy/log/*.log
/Gemfile.rails-5-0.lock 
/Gemfile.rails-5-1.lock 
/Gemfile.rails-5-2.lock 
/Gemfile.rails-master.lock
